* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #4f46e5;
  --primary-dark: #4338ca;
  --primary-light: #eef2ff;

  /* Grays */
  --gray-50: #fafafa;
  --gray-100: #f2f2f2;
  --gray-200: #e4e4e4;
  --gray-300: #ddd;
  --gray-400: #bbb;
  --gray-500: #777;
  --gray-600: #666;
  --gray-700: #555;
  --gray-900: #333;

  /* Blues */
  --blue-900: #1e3a8a;
  --blue-500: #4b7bec;
  --blue-200: #dbeafe;

  /* Greens */
  --green-50: #dcfce7;
  --green-600: #166534;
  --green-500: #2ecc71;

  /* Reds */
  --red-50: #fee2e2;
  --red-100: #fecaca;
  --red-600: #991b1b;
  --red-500: #ef4444;
  --red-400: #e74c3c;

  /* Yellows */
  --yellow-50: #fef9c3;
  --yellow-600: #854d0e;
  --yellow-500: #f39c12;
  --yellow-400: #f1c40f;

  /* Purples */
  --purple-500: #6c5ce7;
  --purple-600: #5947d9;

  /* Shadows */
  --shadow-1: rgba(0, 0, 0, 0.05);
  --shadow-2: rgba(0, 0, 0, 0.06);
  --shadow-3: rgba(0, 0, 0, 0.1);
}

html {
  font-size: 16px;
}

body {
  font-family: "Inter", "Roboto", sans-serif;
  background: #fafafa;
  color: var(--gray-900);

  padding: 16px;

  transition: background-color 0.25s ease;

  @media (max-width: 600px) {
    padding: 0;
    margin-block: 20px;
  }
}

.page-container {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  font-family: "Inter", sans-serif;
  margin: 0 auto;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-size: 1.6rem;
    font-weight: 700;
  }
}

.cta-btn {
  background: var(--primary);
  color: white;
  padding: 0.65rem 1rem;
  border: none;
  border-radius: 14px;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 0.95rem;
  cursor: pointer;
  transition: 0.2s;

  span {
    font-size: 1.2rem;
  }

  &:hover {
    background: var(--primary-dark);
    transform: translateY(-2px);
  }

  &:disabled {
    opacity: 0.7;
    cursor: default;
    transform: none;
  }
}

.back-btn {
  padding: 6px 10px;
  background: transparent;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
  color: var(--primary);
  font-weight: 600;
  display: flex;
}

.card {
  background: #ffffff;
  padding: 1.4rem;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.layout-container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;

  padding: 0 16px;

  @media (min-width: 480px) {
    padding: 0 0px;
  }

  @media (min-width: 768px) {
    padding: 0 15px;
  }

  @media (min-width: 1024px) {
    padding: 0 60px;
  }
}
